doctype html

head
    title Ships!
    link(rel="stylesheet", href="style.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000")

body
    .mode#pause

    each party in ['p1', 'p2']
        .mode(id=party)
            each faction in ['enemy', 'player']
                .battlefield(class=faction, class=party)
                    each line in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        each col, colI in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']
                            div(class='field-x' + (colI+1) + '-y' + line)
                                if (col === 'A')
                                    .indicator-col #{line}
                                if (line === 1)
                                    .indicator-line #{col}

                                each checkState in ['ship', 'hit']
                                    input(type="checkbox", class=checkState).check
                                    .check-helper

    .mode#start
        .battlefield.enemy
            ol
                li
                    span You are this color.
                li
                    span Your enemy is
                    span this
                    span color
                li
                    span You may place your ships as follows:
                    ul
                        li 1 x 5 blocks
                        li 2 x 4 blocks
                        li 3 x 3 blocks
                        li 4 x 2 blocks
                li.enternames
                    span Enter your names
                li
                    span Play fair
                li
                    span
                        a(href='#pause') Start

    .status
        input(type="text" placeholder="1st Player").player-name#name1
        input(type="text" placeholder="2nd Player").player-name#name2
        each party  in ['p1', 'p2']
            a.player-link.switch(href='#' + party)
        a.status-link.playpause(href='#pause') End Turn

    h1
        span Sh
        span i
        span ps
        span !