.checkerboard(@counter) when (@counter > 0) {
    .checkerboard(@counter - 2);

    &[class^='field-'][class$='-y@{counter}'] {
        &:nth-of-type(odd) {
            background-color: transparent;

            :target & {
                background-color: darken(@seaColor, 3%);
            }
        }

        &:nth-of-type(even) {
            background-color: transparent;

            :target & {
                background-color: darken(@seaColor, 4%);
            }
        }
    }
}

.hit-obj {
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: hit 1s forwards;
}

.ship-obj {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    border-radius: 15%;
    animation: setShip 0.5s forwards;
}

.miss-obj {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: miss 1s forwards;
}